//Import all necessary files:
@import 'header';
@import 'main-body';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


